@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

:root {
  --COLOR-RED-50: #fbf2f3;
  --COLOR-RED-100: #f7d5d7;
  --COLOR-RED-500: #e9575b;
  --COLOR-RED-600: #e62429;
  --COLOR-RED-800: #443233;
  --COLOR-SLATE-50: #f8fafc;
  --COLOR-SLATE-100: #f1f5f9;
  --COLOR-SLATE-400: #94a3b8;
  --COLOR-STONE-500: rgb(68, 68, 68);
  --COLOR-STONE-700: #44403c;
  --COLOR-STONE-800: #333;
  --COLOR-WHITE: #fff;

  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
