@import url("css/main.css");

body {
  background: var(--COLOR-SLATE-50);
}

/** Container */

.container {
  color: var(--COLOR-STONE-700);
  max-width: 50rem;
}

.component-container {
  background: var(--COLOR-SLATE-100);
  min-height: 12.5rem;
}

/* media */

@media screen and (max-width: 24em) {
  html {
    font-size: 14px;
  }
}
