.border-none {
  border: none;
}

.border-r-50pct {
  border-radius: 50%;
}

/* p2 ---> point 2 */

.border-r-p2 {
  border-radius: 0.2rem;
}

/*  */

/* 1p9 ---> 1 point 9 */

.border-r-1p9 {
  border-radius: 1.9rem;
}

/*  */

.border-r-2p5 {
  border-radius: 2.5rem;
}
