.align-content-ctr {
  align-content: center;
}

.align-items-ctr {
  align-items: center;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-ctr {
  justify-content: center;
}

.justify-content-fe {
  justify-content: flex-end;
}

.justify-content-sa {
  justify-content: space-around;
}

.justify-content-sb {
  justify-content: space-between;
}
