.padding-1 {
  padding: 1rem;
}

/* padding-tb-lr */

.padding-1-p5 {
  padding: 1rem 0.5rem;
}

.padding-p2-p5 {
  padding: 0.2rem 0.5rem;
}

/*  */

.padding-p5 {
  padding: 0.5rem;
}

.padding-lr-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-lr-p5 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.padding-t-p2 {
  padding-top: 0.2rem;
}

.padding-tb-p5 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
