.avatar {
  color: var(--COLOR-SLATE-400);
  font-size: 2rem;
}

.dialog {
  background: var(--COLOR-WHITE);
  box-shadow: 0.1rem 0.1rem 0.2rem var(--COLOR-SLATE-400);
  width: 14rem;
}

.dialog-body {
  color: var(--COLOR-SLATE-400);
}

.dialog-btn {
  color: var(--COLOR-RED-500);
  font-size: 1rem;
  font-weight: bold;
}

.dialog-btn:hover {
  background: var(--COLOR-RED-50);
}

.dialog-header {
  font-size: 1.2rem;
}

.dialog-link:hover {
  background: var(--COLOR-SLATE-100);
}
